# Modules
node_modules

# Environments
.env

# Yarn files
yarn-error.log
yarn.lock

# Public files
public/tasks_complete_audios/*
!public/tasks_complete_audios/tasks_audios
public/tasks_audios/*
!public/tasks_audios/tasks_audios
public/tasks_images/*
!public/tasks_images/tasks_images